@font-face {
   font-family: Pixel Emulator;
   src: url(font/PixelEmulator-xq08.ttf);
}
body {
	font-family: Pixel Emulator;
	color: white;
	background-color: #202020;
	background-image: url("images/sorry!.png") ;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.center {
	text-align: center;
}